<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <p>
        <label for="search">
          Search: 
        </label>
        <input id="search" type="text" ng-model="$ctrl.query" >
      </p>

      <p>
        <label for="order">
          Sort by:
        </label>
        <select name="order" id="order" ng-model="$ctrl.orderProp">
          <option value="name" >Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>
    </div>

    <div class="col-md-10">
      <ul class="phones">
        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
          <a href="#!/phones/{{phone.id}}" class="thumb">
            <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}">
          </a>
          <span>
            {{phone.name}}
          </span>
          <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>
    </div>

    <pre>{{$ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre>
  </div>
</div>